<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<link rel="stylesheet" type="text/css" media="all" href="/static/css/leaflet.zoomhome.css" />

<style>
    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255,255,255,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    .legend {
        line-height: 30px;
        color: #555;
    }
    .legend a {
        margin-right: 8px;
    }
    .legend i {
        width: 15px;
        height: 25px;
        float: left;
        margin-left: 3px;
        margin-right: 3px;
        opacity: 0.7;
    }
</style>

<!-- Begin Page Content -->
<div class="container-fluid mt-2">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Bins</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{geojson_data|length}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-trash fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Filled Bins</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{num_filled_bins}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-exclamation-triangle fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Average Fill Level</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{avg_fill_level}}%</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{avg_fill_level}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row" >

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Bin Distribution</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area" style="height:650px">
            <div id="map" style="height: 650px;"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Filter bins on map</h6>
          
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <label> Bin Type </label><br>
            <div class="btn-group bootstrap-select">
                <select class="selectpicker" name="bin_select" id="bin_select" data-title="Filter by Bin Type" data-menu-style="dropdown-blue" tabindex="-98">
                    <option selected>Select All</option>
                    {%for bin_type in all_bin_types%}
                    <option>{{bin_type.art}}</option>
                    {%endfor%}
                </select>
            </div>
            <br><br>
            <label> Fill Level </label><br>
            <div class="btn-group bootstrap-select">
                <select class="selectpicker" name="status_select" id="status_select" data-title="Filter by Fill Level" data-menu-style="dropdown-blue" tabindex="-98">
                    <option selected>Select All</option>
                    <option>0-25%</option>
                    <option>25-50%</option>
                    <option>50-75%</option>
                    <option>75-100%</option>
                </select>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
<script src="/static/vendor/leaflet/leaflet.zoomhome.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/german_states_geojson.js"></script>
<script>
  var map = L.map('map', {zoomControl: false}).setView([51.42117812, 6.585614551], 12);
  var zoomHome = L.Control.zoomHome();
  zoomHome.addTo(map);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
  maxZoom: 18,
  id: 'mapbox/light-v9',
  accessToken: 'pk.eyJ1IjoieWVudGh1bmd1eWVuIiwiYSI6ImNrNTVzcnpkZTAwMnozZm8xbHUwd2l3bHQifQ.keCI792ppiRlVLieMK84nQ'
}).addTo(map);

  var BinIcon = L.Icon.extend({
      options: {
          iconSize:     [12,18]
      }
  });

  var bin0 = new BinIcon({iconUrl: '/static/img/bin-null.png'}),
      bin25 = new BinIcon({iconUrl: '/static/img/bin-25.png'}),
      bin50 = new BinIcon({iconUrl: '/static/img/bin-50.png'}),
      bin75 = new BinIcon({iconUrl: '/static/img/bin-75.png'}),
      bin100 = new BinIcon({iconUrl: '/static/img/bin-100.png'});
 var fill_levels = [{"text": "NA","value": 0, "icon": bin0},
                    {"text": "0-25%","value": 25, "icon": bin25}, 
                    {"text": "25-50%","value": 50, "icon": bin50}, 
                    {"text": "50-75%","value": 75, "icon": bin75}, 
                    {"text": "75-100%","value": 100, "icon": bin100}];

  L.geoJson(german_states, {
      onEachFeature: function(feature, layer) {
          var label = L.marker(layer.getBounds().getCenter(), {
          icon: L.divIcon({
              className: 'label',
              html: feature.properties.NAME_1,
              iconSize: [100, 40]
              })
          })
      }
  }).addTo(map);

  var bin_data = [];
  {%if geojson_data%}
    {%for bin_type in all_bin_types%}
      {%for data in geojson_data%}
        bin_data.push({{data|safe}})
      {%endfor%}
    {%endfor%}
  {%endif%}

  var all_bin_types = [];
  {%if all_bin_types%}
    {%for bin_type in all_bin_types%}
      all_bin_types.push('{{bin_type.art}}')
    {%endfor%}
  {%endif%}
  
  var bins_by_status = {};          
   
for (var i = 0; i < fill_levels.length; i++){
    bins_by_status[fill_levels[i].text] = L.geoJSON(bin_data, {
      onEachFeature : onEachFeature,
      pointToLayer: function (feature, latlng) { 
          console.log(feature.properties.fill_level)
          if (feature.properties.fill_level == fill_levels[i].value) {
              return L.marker(latlng, {icon:fill_levels[i].icon});
          } 
      }
  })
    bins_by_status[fill_levels[i].text].addTo(map);
}

  var info = L.control();

  info.onAdd = function (map) {
      this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
      this.update();
      return this._div;
  };

  // method that we will use to update the control based on feature properties passed
  info.update = function (props) {
      this._div.innerHTML = '<b>Bin Details</b>' +  (props ?
      '<br>Bin ID: ' + props.name: '<br>Hover over a marker');
  };

  info.addTo(map);

  

  var legend = L.control({position: 'bottomright'});
  var legendDiv;
  legend.onAdd = function (map) {

      legendDiv = L.DomUtil.create('div', 'info legend');      
      legendDiv.innerHTML  = "<a><b>Fill Level</b></a><br>";  
      legendDiv.innerHTML += '<i style="background:url(/static/img/bin-25.png);background-size:15px 25px"></i>0-25%<br>';
      legendDiv.innerHTML += '<i style="background:url(/static/img/bin-50.png);background-size:15px 25px"></i>25-50%<br>';
      legendDiv.innerHTML += '<i style="background:url(/static/img/bin-75.png);background-size:15px 25px"></i>50-75%<br>';
      legendDiv.innerHTML += '<i style="background:url(/static/img/bin-100.png);background-size:15px 25px"></i>75-100%<br>';
      legendDiv.innerHTML += '<i style="background:url(/static/img/bin-null.png);background-size:15px 25px"></i>NA<br>';
      return legendDiv;
  };

  legend.addTo(map);

  var geojsonMarkerOptions = {
      radius: 5,
      weight: 1,
      opacity: 1,
      fillOpacity: 1,
      color: "white",
  };

  function onEachFeature(feature, layer) {
      layer.on({
          mouseover: highlightFeature,
          mouseout: resetHighlight,
          click: zoomToFeature
      });
  }

  function getColor(d) {
    return d <= 25  ? '#E31A1C' :
            d <= 50  ? '#FC4E2A' :
            d <= 75   ? '#FD8D3C' :
            d <= 100   ? '#FEB24C' :
            '#FFEDA0';
  }
   
 


  function highlightFeature(e) {
      var layer = e.target;
      info.update(layer.feature.properties);
  }

  function resetHighlight(e) {
      var layer = e.target;
      info.update();
  }

  function zoomToFeature(e) {
      var latLngs = [ e.target.getLatLng() ];
      var markerBounds = L.latLngBounds(latLngs);
      map.fitBounds(markerBounds);
      e.target.bindPopup(e.target.feature.properties.popupContent).openPopup();
  }
   
$("#status_select").on("changed.bs.select", 
function(e, clickedIndex, newValue, oldValue) {
    selected_status = $('#status_select :selected')[0].value;
    if (newValue){
        for (var i = 0; i < fill_levels.length; i++){
             map.removeLayer(bins_by_status[fill_levels[i].text]);
        };
        
        if (selected_status == "Select All"){
            for (var i = 0; i < fill_levels.length; i++){
                 bins_by_status[fill_levels[i].text].addTo(map);
            }
        } else {
            bins_by_status[selected_status].addTo(map);
            
        }
        
    }
});

$("#bin_select").on("changed.bs.select", 
function(e, clickedIndex, newValue, oldValue) {
    selected_type = $('#bin_select :selected')[0].value;
    selected_status = $('#status_select :selected')[0].value;
    if (newValue){
        for (var i = 0; i < fill_levels.length; i++){
             map.removeLayer(bins_by_status[fill_levels[i].text]);
        };
        if (selected_status == "Select All"){
            for (var i = 0; i < fill_levels.length; i++){
                 bins_by_status[fill_levels[i].text].addTo(map);
            }
        } else {
            bins_by_status[selected_status].addTo(map);
            
        }
                        
    }
});

</script>